

body {
  background-color: aliceblue;
  min-height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.connect{
  display:flex;
  justify-content: end;
}

.main {
  background-color: bisque;
  padding: 20px;
  margin-top: 20px;
}

.update-button {
  margin-top: 15px;
  padding-inline: 15px;
  padding-block: 7px;
  background-color: blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 15px;
  color: antiquewhite;
  border: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;

}

.connectButton {
  margin-top: 15px;
  padding-inline: 15px;
  padding-block: 7px;
  background-color: blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 15px;
  color: antiquewhite;
  border: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}


.input {
  width: 100%;
  padding-inline: 3px;
  padding-block: 5px;
  box-sizing: border-box;
  border: none;
}